<div class="new-advice">
  <form #myForm="ngForm">
    <div class="field title">
      <label>title</label>
      <input type="text" name="title" [(ngModel)]="advice.title" />
    </div>
    <div class="field voice">
      <label>voice</label>
      <input type="text" name="voice" [(ngModel)]="advice.voice" />
    </div>
    <div class="field text">
      <label>text</label>
      <input type="text" name="text" [(ngModel)]="advice.text" />
    </div>
    <ng-container *ngIf="user[0]">
      <div *ngFor="let child of user[0].children" class="field children">
        <!-- it is always posting same id !!!!!!!!!-->
        <input type="radio" name="childId" id="{{child.name}}" [(ngModel)]="advice.childId" value="{{child._id}}">
        <label for="{{child.name}}">{{child.name}}</label>
      </div>
    </ng-container>
    <div>
      <button (click)="createAdvice(); myForm.reset()">submit</button>
    </div>
  </form>
</div>
