<div class="new-advice">
  <form #myForm="ngForm">
    <div class="form field">
      <input type="text" name="title" [(ngModel)]="advice.title" placeholder="title"/>
    </div>
    <div class="form field">
      <input type="text" name="voice" [(ngModel)]="advice.voice" placeholder="voice"/>
    </div>
    <div class="form field">
      <input type="text" name="text" [(ngModel)]="advice.text" placeholder="text"/>
    </div>
    <ng-container *ngIf="user[0]">
      <div *ngFor="let child of user[0].children" class="field children">
        <!-- it is always posting same id !!!!!!!!!-->
        <input type="radio" name="childId" id="{{child.name}}" [(ngModel)]="advice.childId" value="{{child._id}}">
        <label for="{{child.name}}">{{child.name}}</label>
      </div>
    </ng-container>
    <div class="form actions">
      <button (click)="createAdvice(); myForm.reset()">submit</button>
    </div>
  </form>
</div>
