<p>
  page-main works!
</p>
<div class="menu">
  <p>
    menu
  </p>
  <div class="menu-item">
    <a routerLink='/settings'>Settings</a>
  </div>
  <div class="menu-item">
    <p>
      My Children
    </p>
    <ng-container *ngIf="userArray[0]">
      <div class='child-list' *ngFor="let child of userArray[0].children">
        <a routerLink='/child/{{child._id}}'>{{child.name}}</a>
      </div>
    </ng-container>
  </div>
</div>
<hr>
<p>Hola {{user.name}}</p>
<div class="main-forms">
  <div class="main-search">
    <form (ngSubmit)="submitForm(myForm)" #myForm="ngForm">
      <div class="field search">
        <label>search</label>
        <input type="text" name="search" />
      </div>
    </form>
  </div>
  <div class="main-quick-advice">
    <form (ngSubmit)="submitForm(myForm)" #myForm="ngForm">
      <div class="field quick-advice">
        <label>quick advice</label>
        <input type="text" name="quick-advice" />
      </div>
    </form>
  </div>
  <div class="main-new-advice">
    <a [routerLink]="['/advice-new']">new advice</a>
  </div>
</div>
<hr>
<div class="favs-list">
  <app-advice-list></app-advice-list>
</div>
