<ng-container *ngIf="userArray[0].role === 'child'">
  <h3>
    Hola {{userArray[0].name}}
  </h3>

  <div class="alert">

    <app-messages [user]="userArray[0]"></app-messages>

  </div>

  <a (click)="refresh()">OKAY</a>


</ng-container>



<ng-container *ngIf="userArray[0].role === 'parent'">
  <h3>
    Hola {{userArray[0].name}}
  </h3>
  <div class="menu">
    <h2>
      Menu
    </h2>
    <div class="logout actions">
      <a (click)="logout()">Log Out</a>
      <p *ngIf="error" class="error">{{error}}</p>
    </div>
    <div class="menu-item">
      <a routerLink='/settings'>Settings</a>
    </div>
  </div>
  <section class="container">

    <!-- <div class="main-forms">
main
      <div class="main-search">
        <form (ngSubmit)="submitForm(myForm)" #myForm="ngForm">
          <div class="field search">
            <label>search</label>
            <input type="text" name="search" />
          </div>
        </form>
      </div>

      <div class="main-quick-advice">
        <form (ngSubmit)="submitForm(myForm)" #myForm="ngForm">
          <div class="field quick-advice">
            <label>quick advice</label>
            <input type="text" name="quick-advice" />
          </div>
        </form>
      </div>
    </div> -->
    <section class="wall-container">
      <div class="main-new-advice">
        <a [routerLink]="['/advice-new']">new advice</a>
      </div>
      <div class="children">
        <h2>
          My Children
        </h2>
        <ng-container *ngIf="userArray[0]">
          <div class='child-list' *ngFor="let child of userArray[0].children">
            <a routerLink='/child/{{child._id}}'>{{child.name}}</a>
          </div>
        </ng-container>
      </div>
    </section>

  </section>


  <div class="favs-list" *ngFor="let child of children ">
    <h2>{{child.name}}</h2>
    <app-advice-list [advices]="child.advices"></app-advice-list>

  </div>
  <app-messages></app-messages>
</ng-container>
