/* You can add global styles to this file, and also import other style files */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 100vh;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
}

html {
  background-image: url("./assets/img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a,
h1,
p,
div {
  margin: 0px;
  padding: 0px;
  color: white;
}

.icon {
  height: 30px;
  width: 30px;
}
