/* You can add global styles to this file, and also import other style files */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 100vh;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
}

html {
  background-image: url("./assets/img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a,
p,
div {
  font-size: 20px;
  margin: 0px;
  padding: 0px;
  color: white;
  text-decoration: none;
}

h1 {
  font-size: 30px;
  margin: 0px;
  padding: 0px;
  color: #FF0096;
}

.icon {
  height: 30px;
  width: 30px;
}

.loader {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader img {
  width: 300px;
  height: 300px;
}
