/* reset */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0px;
  padding: 0px;

}

a,
p,
div {
  font-size: 20px;
  margin: 0px;
  padding: 0px;
  color: white;
  text-decoration: none;
}

h1 {
  font-size: 30px;
  margin: 0px;
  padding: 0px;
  color: #FF0096;
}

.main-container {
  width: 100%;
  min-height: 100vh;

  position: absolute;
  z-index: -9999;

  background: linear-gradient(135deg, #254263 0%,#6b3b85 100%);
  background-repeat: no-repeat;
}

.icon {
  height: 30px;
  width: 30px;
}

.loader {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader img {
  width: 300px;
  height: 300px;
}

/* form */

.form-card {
  max-width: 320px;
  border: 3px solid #fff;

  margin: 0 auto;
  box-shadow: 0px 8px 14px -5px rgba(0,0,0,0.5);
}

.card {
  border-radius: 10px;
  padding-top: 20px;

  margin-bottom: 40px;
}

.form {
  margin-bottom: 12px;
}

.form.field input {
  width: 60%;
  max-width: 180px;
  
  height: 2.7em;
  
  background: none;
  border: 2px solid #FF0096;
  border-radius: 20px;
  
  padding-left: 16px;

  color: #FF0096;
}

.form.field input::placeholder {
  color: #FFF;
}

.form.actions button{

  width: 50%;
  max-width: 130px;
  
  height: 2.7em;
  
  background: #FF0096;
  border: 2px solid #FF0096;
  border-radius: 20px;
  
  color: #254263;
  font-weight: bold;
}